<?xml version="1.0"?>
<launch>
    <arg name="rviz" default="true" />

    <!-- launch mpc file -->
    <node pkg="mpc_local_planner" type="main" name="mpc" output="screen" />

    <!-- launch rviz for visualization -->
    <group if="$(arg rviz)">
        <include file="$(find mpc_local_planner)/launch/rviz.launch" />
    </group>
</launch>